<%= form_with model: @event do |form| %>
  <div >
    <%= form.label :date %><br>
    <%= form.text_field :date, {:class => 'form-control'} %>
    <% @event.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, {:class => 'form-control'} %><br>
    <% @event.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  

  <div class='btn'>
    <%= form.submit %>
  </div>
<% end %>